/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 13, 2025, 12:35:11 AM
    Author     : DELL
*/
GridPane{
    -fx-background-color: lightblue;
    -fx-padding: 10;
}
Label{
    -fx-font-size: 14;
    -fx-text-fill: darkblue;
}
Text.Subject{
    -fx-font-size: 36;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-width:2;
    -fx-stroke: gold;
}
Button.Btn{
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-min-width:100;
}